.category-wrapper {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    gap: 10px;

    .category-card {
        position: relative;
        overflow: hidden;

        h3 {
            position: absolute;
            bottom: 20px;
            left: 0;
            right: 0;
            text-align: center;
            background-color: white;
            box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.2);
            width: fit-content;
            padding: 10px 20px;
            margin: auto;
            font-size: 14px;
        }

        img {
            transition: 0.8s;

        }

        &:hover {
            img {
                transform: scale(1.1);
            }
        }

        &:first-child,
        &:nth-child(3) {
            grid-row: span 2;
        }
    }
}

.banner-section{
    img{
        height: 60vh;
    }
}

.product-cards{
    position: relative;
    img{
        border-radius: 3px ;
    }
    h3{
        font-size: 16px;
        margin-top: 10px;
    }
    .price-tag{
        position: absolute;
        top: 50px;
        right: 50px;
        background-color: orange;
        color: white;
        padding: 0px 10px;
        border-radius: 3px;
    }
}

.product-images{
    img{
        height: 100px;
        width: 100px;
    }
}